db_host = "gs_db"
db_port = 3306
db_name = "gosense"
db_user = "root"
db_password = ""
admin_user = "admin"
admin_password = "s3curity"
site_name = "Hard Coder"
site_description = "Linux, opensource, golang"
[object_storage]
api_user = "userismyname@gmail.com"
api_key = "************************"
api_auth = "https://auth.runabove.io/v2.0"
api_tenant = "ddddddddddddddddddddddddddddddddddddddd23434"
api_region = "SBG-1"
api_container = "test"
api_cdn_url = "https://cdn.netroby.com/"