<html>
<head>
    <title>Upload file</title>
</head>
<body>
<form enctype="multipart/form-data" action="/admin/fileupload" method="post">
    <input type="file" name="uploadfile" />
    <input type="submit" value="upload" />
</form>
<div>
    {{ $cdnurl := .cdnurl }}
    {{range $o := .objects }}
    <a href="{{$cdnurl}}{{$o}}"><span style="margin:24px"><img src="{{$cdnurl}}{{$o}}" style="max-width:320px;max-height:320px"><br />
        {{$cdnurl}}{{$o}}</span></a>
    {{end}}
</div>
</body>
</html>